/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mortgage-form {
	display: flex;
	flex-direction: column;
}

.wp-block-mortgage-form div {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
	align-items: flex-start;
	flex-wrap: wrap;
	small {
		width: 100%;
	}
}

.wp-block-mortgage-form.as-row div {
	flex-direction: row;
	align-items: center;
	label {
		width: 180px;
	}
	button, small {
		margin-left: 180px;
	}
}

.wp-block-mortgage-form.bolded-label {
	label {
		font-weight: bold;
	}
}

.wp-block-mortgage-result {
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	&.success {
		background-color: #dff0d8;
		border-color: #d0e9c6;
		color: #3c763d;
	}
	&.error {
		background-color: #fcf8e3;
		border-color: #faf2cc;
		color: #8a6d3b;  
	}
	small {
		margin: 0 5px;
	}
	p {
		margin: 0;
	}
}

.wp-block-mortgage-table {
	overflow-x: auto;
	small {
		margin: 0 5px;
	}
	table {
		width: 100% !important;
	}
	table td {
		text-align: center;
	}
}
