/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mortgage-form {

	.wp-block-mortgage-input,
	.wp-block-mortgage-select {
		display: flex;
		flex-direction: column;
		margin-bottom: 1em;
		align-items: flex-start;
		flex-wrap: wrap;

		&.hide {
			display: none;
		}
	}

	label.hide {
		display: none;
	}

	input,
	select,
	button {
		padding: 0.5em;
		box-sizing: border-box;
	}

	input,
	select {
		width: 100%;
		max-width: 100%;
	}

	small {
		width: 100%;
	}

	button {
		display: block;
		margin: 0;

		&.left {
			margin-right: auto;
			margin-left: 0;
		}

		&.right {
			margin-left: auto;
			margin-right: 0;
		}

		&.center {
			margin: auto;
		}

		&.wide {
			width: 100%;
		}
	}
}

.wp-block-mortgage-form.is-style-bolded {

	label {
		font-weight: bold;
	}
}

.wp-block-mortgage-form.is-style-modern {

	label {
		font-weight: bold;
	}

	input,
	select {
		border: none;
		border-bottom: 1px solid;
		border-radius: 0;
	}
}

.wp-block-mortgage-result,
.wp-block-mortgage-summary {
	padding: 0.75rem 1.25rem;
	margin: 1rem 0;
	border: 1px solid transparent;
	order: 3;
	width: 100%;

	&.success {
		background-color: #dff0d8;
		border-color: #d0e9c6;
		color: #3c763d;
	}

	&.error {
		background-color: #fcf8e3;
		border-color: #faf2cc;
		color: #8a6d3b;
	}

	small {
		margin: 0 5px;
	}

	p {
		margin: 0;
	}
}

.wp-block-mortgage-table {
	order: 3;
	width: 100%;
	overflow-x: auto;

	small {
		margin: 0 5px;
	}

	table {
		width: 100% !important;
	}

	table td,
	th {
		text-align: center;
	}
}
